.row{
    margin: 20px;
}

.lable{
    color: red;
}

.box{
    width: 50%;
    border: 2px solid blue;
}

.inner
{
    margin: 10px;
    display: inline-flex;
}

.box1 {
    width: 50%;
    border: 2px solid rgb(174, 47, 47);
    padding: 5px;
}